<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzy.goodsprovider8090.mapper.GoodsMapper">
    <select id="selectById" resultType="Goods">
        SELECT * FROM goods WHERE id = #{id}
    </select>
    <select id="selectAll" resultType="Goods">
        SELECT * FROM goods
    </select>
    <update id="updateStock">
        UPDATE goods SET stock = #{stock} WHERE id = #{id}
    </update>
</mapper>